* {
  box-sizing:border-box;
}

body  {
  background-image: url("bi-flag-background.png");
  background-size: 100%;
  background-color: #36465d;
}

.tumblr {
    background:white;
    color: #36465d;
    margin: auto;
    width: 40%;
    padding:15px;
    text-align: center;
    border-radius:10px;
}

ul {
  background: white;
  color: #36465d;
  margin: auto;
  width: 40%;
  padding:15px;
  text-align: center;
  list-style-position: inside;
}

a {
  color: red;
}

.fixed {
    background:none;
    position:fixed;
    bottom:0;
    right:0;
    margin:0;
}

.banner {
    background:#35465d;
    color:white;
    text-align:center;
    font-size:300%;
    border-width:10px;
    border-style:solid;
    border-color:#e556c4;
    border-radius:10px;
    margin:auto;
    width:50%;
    padding:15px;
    margin-top:50px;
    margin-bottom:50px;
}

/* 7754df blue
e556c4 pink
b454df purple */