* {
    box-sizing:border-box;
}

body {
    background:#69696e;
    overflow:hidden;
}

img {
    max-width:100%;
}

body {
    color:ghostwhite;
}

a {
    color:#a7a7e3;
    background:#525258;
    display:flex;
    margin:10px;
    padding:10px;
    width:10vw;
    height:10vh;
    text-decoration: none;
    position:absolute;
    right:30%;
    bottom:40%;
}

a:hover {
    color: #2d2d4d;
    transition: 1s;
    text-decoration: none;
}

.container {
    display:flex;
    height:100vh;
    overflow:hidden;
}

#wrath {
    background:#525258;
    display:flex;
    margin:10px;
    padding:10px;
    width:10vw;
    height:10vh;
    position: absolute;
    top:5%;
    left:2%;
}

#wrath1 {
    background:#525258;
    display:flex;
    margin:10px;
    padding:10px;
    width:10vw;
    height:10vh;
    position: absolute;
    right:5%;
    bottom:2%;
}

#wrath2 {
    background:#525258;
    display:flex;
    margin:10px;
    padding:10px;
    width:10vw;
    height:10vh;
    position: absolute;
    top:30%;
    right:45%;
}

#wrath3 {
    background:#525258;
    display:flex;
    margin:10px;
    padding:10px;
    width:10vw;
    height:10vh;
    position: absolute;
    left:30%;
    bottom:20%;
}

#ire {
    background:#525258;
    display:flex;
    margin:10px;
    padding:10px;
    width:10vw;
    height:10vh;
    position: absolute;
    top:50%;
    left:20%;
}

#ire1 {
    background:#525258;
    display:flex;
    margin:10px;
    padding:10px;
    width:10vw;
    height:10vh;
    position: absolute;
    top:1%;
    left:70%;
}

#ire2 {
    background:#525258;
    display:flex;
    margin:10px;
    padding:10px;
    width:10vw;
    height:10vh;
    position: absolute;
    bottom:35%;
    right:3%;
}

#ire3 {
    background:#525258;
    display:flex;
    margin:10px;
    padding:10px;
    width:10vw;
    height:10vh;
    position: absolute;
    top:20%;
    left:23%;
}

#fury {
    background:#525258;
    display:flex;
    margin:10px;
    padding:10px;
    width:10vw;
    height:10vh;
    position: absolute;
    top:80%;
    left:50%;
}

#fury1 {
    background:#525258;
    display:flex;
    margin:10px;
    padding:10px;
    width:10vw;
    height:10vh;
    position: absolute;
    bottom:20%;
    left:4%;
}

#fury2 {
    background:#525258;
    display:flex;
    margin:10px;
    padding:10px;
    width:10vw;
    height:10vh;
    position: absolute;
    top:38%;
    left:8%;
}

#fury3 {
    background:#525258;
    display:flex;
    margin:10px;
    padding:10px;
    width:10vw;
    height:10vh;
    position: absolute;
    top:20%;
    right:12%;
}