* {
    box-sizing:border-box;
}

body {
    background:ghostwhite;
}

img {
    max-width:100%;
}

body {
    color:#69696e;
}

a {
    color:#8383bc;
    text-decoration: none;
}

a:hover {
    color: #2d2d4d;
    transition: 1s;
    text-decoration: none;
}

.label {
    position:fixed;
    top:35%;
    left:18%;
    margin:0;
    animation: spin 4s infinite linear;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}