* {
    box-sizing:border-box;
}

@font-face {
    font-family: 'IJT'; /*a name to be used later*/
    src: url('assets/Imanifont_Regular.woff'); /*URL to font*/
}

body {
    background:#ebd4f7;
    margin:0;
    overflow:scroll;
}

img {
    max-width:100%;
}

.container {
    background:#f4e8fb;
    /* vh means viewport height! */
    height:400vh;
    /* no need for width, it's a block element so it's already 100% */
    display:flex;
    flex-direction:column;
    padding:0;
    gap:0;
}

/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  background-color: #221744;
  padding: 0px 0px;
  position:sticky;
  top: 0;
  font-family: 'IJT';
  align-items: center;
}

/* Style the header links */
.header a {
  float: left;
  color: #faa9e7;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active/current link*/
.header a.active {
  background-color: #b454df;
  color: white;
}

/* Float the link section to the right */
.header-right {
  float: right;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

.landing {
    background:#ebd4f7;
    height:70vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:0;
}

.hello {
    background:#e556c4;
    width:30vw;
    height:30vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    font-family: 'IJT';
    font-size:200%;
}

.scroll {
    background:#7754df;
    width:10vw;
    height:10vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    font-family: 'IJT';
    font-size:130%;
}

/* Style the header with a grey background and some padding */
.workHeader {
  overflow: hidden;
  background-color: #221744;
  padding: 30px 10px;
}

/* Style the header links */
.workHeader a {
  float: left;
  color: #faa9e7;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

/* Change the background color on mouse-over */
.workHeader a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active/current link*/
.workHeader a.active {
  background-color: #b454df;
  color: white;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 3vw;
  justify-content:center;
  align-items:center;
  text-align:center;
}

/* Create three equal columns that sits next to each other */
.column {
  max-width:30%;
  padding: 1vw;
  justify-content:center;
  align-items:center;
  text-align:center;
}

.column img {
  margin-top: 8px;
  padding:1vh;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of three columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

/* 7754df blue
e556c4 pink
b454df purple */