* {
  box-sizing:border-box;
}

body  {
  /* background-image: url("bi-flag-background.png"); */
  background-image: url(bi-flag-bg.png);
  background-size: 100%;
  background-color: #26237a;
  font-family:Verdana;
  font-size:medium;
}

.tumblr {
    background:white;
    color: #26237a;
    margin: auto;
    width: 40%;
    padding:15px;
    text-align: center;
    border-radius:10px;
    border:solid;
    border-width:5px;
    border-color:#26237a;
}

.tumblr1 {
    background:white;
    color: #26237a;
    margin: auto;
    margin-top:50px;
    margin-bottom:30px;
    width: 40%;
    padding:15px;
    text-align: center;
    border-radius:10px;
    border:solid;
    border-width:5px;
    border-color:#26237a;
}

.tumblr2 {
    background:white;
    color: #26237a;
    margin: auto;
    margin-top:30px;
    margin-bottom:50px;
    width: 40%;
    padding:15px;
    text-align: center;
    border-radius:10px;
    border:solid;
    border-width:5px;
    border-color:#26237a;
}

ul {
  background: white;
  color: #26237a;
  margin: auto;
  width: 40%;
  padding:15px;
  text-align: center;
  list-style-position: inside;
}

a {
  color: #e556c4;
}

.two {
  color:#e556c4;
}

a:hover {
  color:white;
}

.fixed {
    background:none;
    position:fixed;
    bottom:0;
    left:0;
    margin:0;
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}

@keyframes spin {
    from {
        transform:rotate(-0deg);
    }
    to {
        transform:rotate(-360deg);
    }
}

.choice {
    background:#26237a;
    color: white;
    margin: auto;
    margin-top:0px;
    width: 25%;
    padding:20px;
    text-align: center;
    border:dotted;
    border-width:5px;
    border-color:white;
}

.choice2 {
    background:#26237a;
    color: white;
    margin: auto;
    margin-top:15px;
    width: 25%;
    padding:15px;
    text-align: center;
    border-radius:10px;
    border:solid;
    border-width:5px;
    border-color:#26237a;
}

.label {
    background:#b454df;
    position:fixed;
    bottom:280px;
    left:20px;
    margin:0;
    rotate:-20deg;
    color:#26237a;
}

.banner {
    background:#7754df;
    color:#26237a;
    text-align:center;
    font-size:250%;
    border-width:10px;
    border-style:solid;
    border-color:#e556c4;
    width:100%;
    padding:15px;
    margin:auto;
    margin-top:50px;
    margin-bottom:50px;
}

textarea {
    display: block;
    margin-top:30px;
    margin-left: auto;
    margin-right: auto;
    width:40%;
    resize:horizontal;
    background:#e556c4;
    border: 5px solid #7754df;
}

.return {
    background:none;
    position:fixed;
    bottom:20px;
    right:20px;
    margin:0;
}

/* textarea {
    width: 50%;
    margin:auto;
    height: 150px;
    padding: 12px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
} */

/* 7754df blue
e556c4 pink
b454df purple */