body  {
  background-image: url("prunsel.jpg");
  background-size: 250px;
  background-color: red;
  font-family:'Comic Sans MS';
  font-weight:bolder;
}

a {
  color:red;
}

a:hover {
  color:white;
}

.tumblr {
    background:black;
    color:red;
    margin: auto;
    margin-top: 250px;
    width: 30%;
    padding:15px;
    text-align: center;
}

ul {
  background: black;
  color: red;
  margin: auto;
  width: 30%;
  padding:15px;
  text-align: center;
  list-style-position: inside;
}